# --- core ---
numpy
pandas
pyyaml
tqdm
requests

# --- science / stats ---
scikit-learn

# --- viz ---
matplotlib

# parameter tuning
optuna

# download raw_data
gdown

# --- interpretability ---
captum